*
{
box-sizing: border-box;
}

body
{
margin: 0;
padding: 0;
}

.container
{
  background-color: #000;
  color: #FFF!important;
}

.nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 75px;
  min-width: 100%;
}

.password
{
  color: rgba(255, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-display
{
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
  width:100%;
  background-color: #000;
  margin: 0 auto;
}
img
{
  width: 100%;
}
